<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Document Title
	============================================= -->
	<title>Brush Chipper</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li><a href="index.html"><div>Home</div></a></li>
							<li><a href="index.html"><div>Equipment Rental</div></a></li>
							<li><a href="index.html"><div>Equipment Sales</div></a></li>
							<li><a href="index.html"><div>Equipment Purchasing</div></a></li>
							<li><a href="index.html"><div>About</div></a></li>.
							<li><a href="index.html"><div>Contact</div></a></li>
						</ul>

						<!-- Top Cart
						============================================= -->
						<div id="top-cart">
							<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>0</span></a>
							<div class="top-cart-content">
								<div class="top-cart-title">
									<h4>Shopping Cart</h4>
								</div>
							</div>
						</div><!-- #top-cart end -->

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Brush Chipper</h1>
				<h4>Bandit XP90</h4>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Equipment Rental</a></li>
					<li><a href="#">Lawn &amp; Landscape</a></li>
					<li class="active">Bandit XP90</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="postcontent nobottommargin clearfix col_last">

						<div class="single-product">

							<div class="product">

								<div class="col_half">

									<!-- Product Single - Gallery
									============================================= -->
									<div class="product-image">
										<div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
											<div class="flexslider">
												<div class="slider-wrap" data-lightbox="gallery">
													<div class="slide" data-thumb="images/equipment/lawn-landscape/bandit-90xp/bandit-90xp-300x300.jpg"><a href="images/equipment/lawn-landscape/bandit-90xp/bandit-90xp-300x300.jpg" title="Bandit XP90" data-lightbox="gallery-item"><img src="images/equipment/lawn-landscape/bandit-90xp/bandit-90xp-300x300.jpg" alt="Bandit XP90"></a></div>
													<div class="slide" data-thumb="images/shop/thumbs/dress/3-1.jpg"><a href="images/shop/dress/3-1.jpg" title="Pink Printed Dress - Side View" data-lightbox="gallery-item"><img src="images/shop/dress/3-1.jpg" alt="Pink Printed Dress"></a></div>
													<div class="slide" data-thumb="images/shop/thumbs/dress/3-2.jpg"><a href="images/shop/dress/3-2.jpg" title="Pink Printed Dress - Back View" data-lightbox="gallery-item"><img src="images/shop/dress/3-2.jpg" alt="Pink Printed Dress"></a></div>
												</div>
											</div>
										</div>
									</div><!-- Product Single - Gallery End -->

								</div>

									<h2 class="nobottommargin"><%= "#{@equipment_rental.equipment_name}" %></h2>
									<h4><%= "#{@equipment_rental.make}" %> <%= "#{@equipment_rental.model}" %></h4>

								<div class="col_half col_last product-desc">


									<!-- Product Single - Short Description
									============================================= -->
									<p>Whether working brush clearing, utility clearing, or rental duties, this fleet-favorite features a large 9-inch wide by 17-inch
tall opening and a standard dual-wheel feed system in Bandit’s proven Slide Box Feed System.</p>
									<p>It’s extremely productive and efficient in processing large amounts
of brush at once, as well as big limbs and small trees.</p><!-- Product Single - Short Description End -->

									<div class="row">
										<div class="col-md-7">
											<ul class="iconlist">
												<li><i class="icon-caret-right"></i> 9" Diameter Chipping Capacity</li>
												<li><i class="icon-caret-right"></i> 17" Chipper Opening</li>
												<li><i class="icon-caret-right"></i> Dual-Wheel Feed System</li>
											</ul>
										</div>

										<div class="col-md-5">
											<div class="table-responsive">
												<table class="table table-bordered table-striped rental-price">
												  <colgroup>
													<col class="col-xs-2">
													<col class="col-xs-2">
												  </colgroup>
												  <thead>
													<tr>
													  <th colspan="2" class="rental-price-head">RENTAL RATES</th>
													</tr>
												  </thead>
												  <tbody>
													<tr>
													  <td class="rental-price-body">4 Hour</td>
													  <td>$ 125</td>
													</tr>
													<tr>
												      <td class="rental-price-body">Daily</td>
													  <td>$ 175</td>
													</tr>
													<tr>
													  <td class="rental-price-body">Weekly</td>
													  <td>$ 800</td>
													</tr>
												  </tbody>
												</table>
											  </div>

										</div>
									</div>

									<div class="clear"></div>
									<div class="line"></div>

							<!--	<form class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>
									<button type="submit" class="add-to-cart button nomargin">Check Availability</button>
									</form><!-- Product Single - Quantity & Cart Button End -->

								</div>

								<div class="col_full nobottommargin">

									<div class="tabs clearfix nobottommargin" id="tab-1">

										<ul class="tab-nav clearfix">
											<li><a href="#tabs-1"><i class="icon-align-justify2"></i><span class="hidden-xs"> Specs</span></a></li>
											<li><a href="#tabs-2"><i class="icon-info-sign"></i><span class="hidden-xs"> Safety</span></a></li>
											<li><a href="#tabs-3"><i class="icon-download"></i><span class="hidden-xs"> Downloads &amp; Media</span></a></li>
										</ul>

										<div class="tab-container">


											<div class="tab-content clearfix" id="tabs-1">

												<table class="table table-striped table-bordered">
													<tbody>
														<tr>
															<td>Fuel Type</td>
															<td> </td>
														</tr>
														<tr>
															<td>HP</td>
															<td> </td>
														</tr>
														<tr>
															<td>Weight</td>
															<td> </td>
														</tr>
													</tbody>
												</table>

											</div>
											<div class="tab-content clearfix" id="tabs-2">
												<p>It is very important that you wear all the manufacturer’s recommended safety equipment, review all safe operation manuals and decals, and observe all safety precautions when utilizing tools and operating equipment.</p>

<p>Operator/User assumes all responsibility for the use, care, and inspection of Personal Protective Equipment.</p>
											</div>

											<div class="tab-content clearfix" id="tabs-3">
												<p>Pink printed dress,  woven, round neck with a keyhole and buttoned closure at the back, sleeveless, concealed zip up at left side seam, belt loops along waist with slight gathers beneath, brand appliqu?? above left front hem, has an attached lining.</p>
											</div>


										</div>

									</div>

									<div class="line"></div>

									<div class="col_one_third nobottommargin">
										<a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="images/shop/brand2.jpg" alt="Brand Logo"></a>
									</div>

									<div class="col_two_third col_last nobottommargin">

										<div class="col_half">

											<div class="feature-box fbox-plain fbox-dark fbox-small">
												<div class="fbox-icon">
													<i class="icon-thumbs-up2"></i>
												</div>
												<h3>100% Original Brands</h3>
												<p class="notopmargin">We guarantee you the sale of Original Brands with warranties.</p>
											</div>

										</div>

										<div class="col_half col_last">

											<div class="feature-box fbox-plain fbox-dark fbox-small">
												<div class="fbox-icon">
													<i class="icon-credit-cards"></i>
												</div>
												<h3>Lots of Payment Options</h3>
												<p class="notopmargin">We accept Visa, MasterCard and American Express &amp; of-course PayPal.</p>
											</div>

										</div>

										<div class="col_half nobottommargin">

											<div class="feature-box fbox-plain fbox-dark fbox-small">
												<div class="fbox-icon">
													<i class="icon-truck2"></i>
												</div>
												<h3>Free Express Shipping</h3>
												<p class="notopmargin">Free Delivery to 100+ Locations Worldwide on orders above $40.</p>
											</div>

										</div>

										<div class="col_half col_last nobottommargin">

											<div class="feature-box fbox-plain fbox-dark fbox-small">
												<div class="fbox-icon">
													<i class="icon-undo"></i>
												</div>
												<h3>30-Days Returns Policy</h3>
												<p class="notopmargin">Return or exchange items purchased within 30 days for Free.</p>
											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

						<div class="clear"></div><div class="line"></div>

						<div class="col_full nobottommargin">

							<h4>Related Products</h4>

							<div id="oc-product" class="owl-carousel product-carousel">

								<div class="oc-item">
									<div class="product iproduct clearfix">
										<div class="product-image">
											<a href="#"><img src="images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
											<a href="#"><img src="images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a>
											<div class="sale-flash">50% Off*</div>
											<div class="product-overlay">
												<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
												<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
											</div>
										</div>
										<div class="product-desc center">
											<div class="product-title"><h3><a href="#">Checked Short Dress</a></h3></div>
											<div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
											<div class="product-rating">
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star-half-full"></i>
											</div>
										</div>
									</div>
								</div>

								<div class="oc-item">
									<div class="product iproduct clearfix">
										<div class="product-image">
											<a href="#"><img src="images/shop/pants/1-1.jpg" alt="Slim Fit Chinos"></a>
											<a href="#"><img src="images/shop/pants/1.jpg" alt="Slim Fit Chinos"></a>
											<div class="product-overlay">
												<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
												<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
											</div>
										</div>
										<div class="product-desc center">
											<div class="product-title"><h3><a href="#">Slim Fit Chinos</a></h3></div>
											<div class="product-price">$39.99</div>
											<div class="product-rating">
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star-half-full"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
									</div>
								</div>

								<div class="oc-item">
									<div class="product iproduct clearfix">
										<div class="product-image">
											<a href="#"><img src="images/shop/shoes/1-1.jpg" alt="Dark Brown Boots"></a>
											<a href="#"><img src="images/shop/shoes/1.jpg" alt="Dark Brown Boots"></a>
											<div class="product-overlay">
												<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
												<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
											</div>
										</div>
										<div class="product-desc center">
											<div class="product-title"><h3><a href="#">Dark Brown Boots</a></h3></div>
											<div class="product-price">$49</div>
											<div class="product-rating">
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star-empty"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
									</div>
								</div>

								<div class="oc-item">
									<div class="product iproduct clearfix">
										<div class="product-image">
											<a href="#"><img src="images/shop/dress/2.jpg" alt="Light Blue Denim Dress"></a>
											<a href="#"><img src="images/shop/dress/2-2.jpg" alt="Light Blue Denim Dress"></a>
											<div class="product-overlay">
												<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
												<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
											</div>
										</div>
										<div class="product-desc center">
											<div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
											<div class="product-price">$19.95</div>
											<div class="product-rating">
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
									</div>
								</div>

								<div class="oc-item">
									<div class="product iproduct clearfix">
										<div class="product-image">
											<a href="#"><img src="images/shop/sunglasses/1.jpg" alt="Unisex Sunglasses"></a>
											<a href="#"><img src="images/shop/sunglasses/1-1.jpg" alt="Unisex Sunglasses"></a>
											<div class="sale-flash">Sale!</div>
											<div class="product-overlay">
												<a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
												<a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
											</div>
										</div>
										<div class="product-desc center">
											<div class="product-title"><h3><a href="#">Unisex Sunglasses</a></h3></div>
											<div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
											<div class="product-rating">
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star3"></i>
												<i class="icon-star-empty"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
									</div>
								</div>

							</div>

							<script type="text/javascript">

								jQuery(document).ready(function($) {

									var ocProduct = $("#oc-product");

									ocProduct.owlCarousel({
										margin: 30,
										nav: true,
										navText : ['<i class="icon-angle-left"></i>','<i class="icon-angle-right"></i>'],
										autoplayHoverPause: true,
										dots: false,
										responsive:{
											0:{ items:1 },
											600:{ items:2 },
											1000:{ items:4 }
										}
									});

								});

							</script>

						</div>

					</div>

					<div class="sidebar nobottommargin clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="widget widget_links clearfix">

								<h4>Equipment Types</h4>
								<ul>
									<li><a href="#">Air Tools &amp; Compressors</a></li>
									<li><a href="#">Automotive</a></li>
									<li><a href="#">Compaction</a></li>
									<li><a href="#">Concrete</a></li>
									<li><a href="#">Drills &amp; Demolition</a></li>
									<li><a href="#">Fastening Tools</a></li>
									<li><a href="#">Flooring &amp; Tile</a></li>
									<li><a href="#">Generators &amp; Fans</a></li>
									<li><a href="#">Hoists &amp; Jacks</a></li>
									<li><a href="#">Lawn &amp; Landscape</a></li>
									<li><a href="#">Material Handling &amp; Moving</a></li>
									<li><a href="#">Pumps &amp; Pressure Washers</a></li>
									<li><a href="#">Saws &amp; Woodworking</a></li>
									<li><a href="#">Trailers</a></li>
								</ul>

							</div>

							<div class="widget clearfix">

							<h4>Popular Items</h4>
								<div id="post-list-footer">

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#"><img src="images/equipment/earth-moving/mt55/mt55_button.jpg" alt="Image"></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Mini Track Loader</a></h4>
											</div>
											<ul class="entry-meta">
												<li class="color">$150 / Daily</li>

											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#"><img src="images/equipment/earth-moving/kubota_bx25TLB/bx25 TLB Thumbnail.jpg" alt="Image"></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Loader Backhoe</a></h4>
											</div>
											<ul class="entry-meta">
												<li class="color">$150 / Daily</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#"><img src="images/equipment/earth-moving/kubota-u35-4/kubota_u35_250x303.png" alt="Image"></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Excavator</a></h4>
											</div>
											<ul class="entry-meta">
												<li class="color">$275 / Daily</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Blogroll</h4>

								<ul>
									<li><a href="http://codex.wordpress.org/">Documentation</a></li>
									<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="http://wordpress.org/support/">Support Forums</a></li>
									<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
									<li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
									<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>

								<div id="post-list-footer">
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Total Downloads</h5>
								</div>

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Clients</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
							<div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
							<form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<script type="text/javascript">
								$("#widget-subscribe-form").validate({
									submitHandler: function(form) {
										$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
										$(form).ajaxSubmit({
											target: '#widget-subscribe-form-result',
											success: function() {
												$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
												$('#widget-subscribe-form').find('.form-control').val('');
												$('#widget-subscribe-form-result').attr('data-notify-msg', $('#widget-subscribe-form-result').html()).html('');
												SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
											}
										});
									}
								});
							</script>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>
