
<%= stylesheet_link_tag "responsive", media: "all", "data-turbolinks-track" => true %>


    <!-- Page Title
    ============================================= -->
    <section id="page-title">

      <div class="container clearfix">
        <h1>ABOUT US </h1>
        <ol class="breadcrumb">
        <%= render_breadcrumbs %>
        </ol>
      </div>

    </section><!-- #page-title end -->

   <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <!-- Post Content
          ============================================= -->
          <div class="postcontent nobottommargin col_last">

            <!-- Shop
            ============================================= -->

            <div id="shop" class="product-1 clearfix">
              <div class="product clearfix">
                <div class="product-image">
                 <%= image_tag ('about_logo.png') %>
                  </div>
                </div>
                <div class="product-desc">
                  <div class="product-title"><h3>What You Need To Know</h3></div>
                  <div><h5>About us</h5></div>
                    <div class="row">
                    <div class="col-md-8">
                    <p>For over 40 years Carl Matthews Equipment has been proudly serving New Hampshire with dependable tools and equipment. Serving a variety of customers, our
equipment sees projects from residential construction to commercial jobs to weekend home improvement projects.  We are ready to help you get the job done.</p>
                    <p>When you need equipment, we hope you will come over to Carl Matthews Equipment. Our knowledgeable staff will be delighted to assist you with your needs
and get you out the door and on to your project.  And if you are unable to pick it up, we are happy to offer delivery and pick-up of equipment to your project site.</p>



                    </div>

                    <div class="col-md-4">

                    </div>
                  </div>
                </div>
              </div>




            </div><!-- #shop end -->

          </div><!-- .postcontent end -->

          <!-- Sidebar
          ============================================= -->


        </div>

      </div>


