<!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">



            <div class="col_one_third">

              <div class="widget clearfix">


                <%= image_tag('logo-new.png', class: "footer-logo") %>






              </div>

            </div>

            <div class="col_one_third">
          <%= image_tag('ara_logo_1.png') %>
            </div>




          <div class="col_one_third col_last">

            <div class="widget clearfix" style="margin-bottom: -20px;">



            </div>

            <div class="widget subscribe-widget clearfix">
            <br>
            <br>
            <br>
              <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; New Equipment:</h5>
              <br>
 <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
<form class="new_subscriber nobottommargin" id="new_subscriber" action="/subscribers" accept-charset="UTF-8" method="post" novalidate="novalidate"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="DY6S5vxwDHGLC1AbGayOZm7v44Vq7ThGSMaiAowYIOxNij/uAg7qXUZF5FUQz/UH8G8pLXfwD7ponl6C07g8Ig==">
 <div class="input-group divcenter">
  <span class="input-group-addon"><i class="icon-email2"></i></span>
  <input type="text" name="subscriber[email]" id="subscriber_email" class="form-control required email" placeholder="Enter your Email">
  <span class="input-group-btn">
  <button class="btn btn-success"  type="submit" name="commit" value="submit">Subscribe</button>
                  </span>
                </div>
              </form>


              <script type="text/javascript">
                $("#new_subscriber").validate({
                  submitHandler: function(form) {
                    $(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
                    $(form).ajaxSubmit({
                      target: '#widget-subscribe-form-result',
                      success: function() {
                        $(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
                        $('#new_subscriber').find('.form-control').val('');
                        $('#widget-subscribe-form-result').attr('data-notify-msg',
                        SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
                      }
                    });
                  }
                });
              </script>
            </div>

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-md-6 clearfix bottommargin-sm">
                  <a href="https://www.facebook.com/pages/Carl-Matthews-Equipment-Company/194119620934286" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                </div>
                <div class="col-md-6 clearfix">
                  <a href="https://plus.google.com/100493939364955845063/about" class="social-icon si-dark si-colored si-gplus nobottommargin" style="margin-right: 10px;">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Visit Us</strong><br>on Google+</small></a>
                </div>

              </div>

            </div>

          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2017 All Rights Reserved by <br>
            <a href ="https://www.google.com/maps/dir/''/carl+matthews+equipment+co/@43.3115049,-71.6864147,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89e21301afaee525:0x94bb17b2d27d16f7!2m2!1d-71.6163749!2d43.3115263">Carl Matthews Equipment Co.<br>
            161 King St, Boscawen, NH 03303<br></a>
            <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
          </div>

          <div class="col_half col_last tright">
          <strong>We Believe In Providing You With Quality Equipment &amp; Service. </strong><br>
            <div class="clear"></div>

            <i class="icon-envelope2"></i> <a href="mailto:info@cmerentals.com"> info@cmerentals.com </a> <span class="middot">&middot;</span> <i class="icon-phone2"></i> <a href="tel://1-603-796-2412"> +1 (603) 796-2412 </a>
          </div>

            <div class="fright clearfix">
              <a href="https://www.facebook.com/pages/Carl-Matthews-Equipment-Company/194119620934286" class="social-icon si-small si-borderless si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="https://plus.google.com/100493939364955845063/about" class="social-icon si-small si-borderless si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>

            </div>



        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->


  <!-- Footer Scripts
  ============================================= -->



